@model IEnumerable<Airline_Booking.booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user.name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.user.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight.ffrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight.fto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight.time);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight.airportname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flight.days)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.phone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flight.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flight.ffrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flight.fto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flight.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flight.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flight.airportname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flight.days);
            </td>

        </tr>
    }

</table>
